extends ../layout/layout.pug
block content
    .container
            h1 Create Product
            a(href='/')
                button(class="btn btn-primary") Home
            if error
                each errors in error
                    .alert.alert-danger= error
            form(action="/createproduct", method="POST", enctype="multipart/form-data")
                .form-group
                    label(for="name") Name
                    input#name.form-control(name="name" , type="text", value=values ? values.name : '')

                .form-group
                    label(for="price") price
                    input#price.form-control(name="price" , type="number", value=values ? values.price : '')
                //- .form-group 
                //-     label(for="image") Image
                //-     input#image.form-control-file(name="image" type="file")
                button.btn.btn-primary Create