extends ../layout/layout.pug
block content
    html
        head

        body
            h1 View product
                p   
                    b Name: &nbsp;
                    span= products.name
                    br
                    //- b image: &nbsp
                    //- img(style="width:250px;height:200px").card-img(src=product.image)