html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css" ,href="/styles/styles.css")
        script(src="https://kit.fontawesome.com/a076d05399.js")
    body
    block content